<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find traversability_checker)/launch/custom_rosconsole.conf"/>
  <node pkg="traversability_checker" type="traversability_checker" name="traversability_checker" output="screen">
    <rosparam command="load" file="$(find traversability_checker)/config/default.yaml" />
  </node>
</launch>
