<launch>
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find elevation_obstacle_detection)/launch/custom_rosconsole.conf"/>
  <node pkg="elevation_obstacle_detection" type="elevation_obstacle_detection" name="elevation_obstacle_detection_starleth_teach_and_repeat" output="screen">
    <rosparam command="load" file="$(find elevation_obstacle_detection)/parameters/robots/starleth_teach_and_repeat.yaml" />
  </node>
</launch>
